{% extends 'base.html' %}
{% block title%}
나만의 블로그
{% endblock %}

{% block content %}
<h3>검색 결과</h3>
<table style="width:100%">
	<tr>
		<th> 글번호 </th>
		<th> 제목 </th>
		<th> 작성자 </th>
		<th> 작성일 </th>
	</tr>
	{% for post in list %}
		<tr>
			<th>{{ post.id }}</th>
			<th>
				<a href="{% url 'blog:detail' post.id %}"> {{ post.headline }} </a> 
			</th>
			<th>{{ post.author }}</th>
			<th>{{ post.pub_date }}</th>
		</tr>
	{% endfor %}
</table>
<!-- 검색창 -->
<br>
<form action="" method="GET">
	{% csrf_token %}
	<input type="text" name='query'>
	<input type='submit' value='검색'>
</form>

{% endblock %}













